<html>

<head>
  <title>Document</title>
</head>

<body>
  <section class="add-new">
    <div class="cars">
    <label id="car"><b>Car Brand Name</b></label>
    <input type="text" placeholder="Enter Brand Name" name="brand" required>  <br>
    <label id="serie"><b>Serie Name</b></label>
    <input type="text" placeholder="Enter Serie Name" name="brand" required><br>
    <label id="color"><b>Color</b></label>
    <input type="text" placeholder="Enter Color" name="brand" required>
  </div>
    <button class="add-to-grid">Add New Car</button>
  </section>

  <section class="show-dash">


  </section>
</body>

</html>
